language: bash
services:
- docker
script:
- env
- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
- docker build . -t dubu
- docker run --rm dubu nmap -v
- docker tag dubu malikashish8/dubu
- docker push malikashish8/dubu
- wget -O klar https://github.com/optiopay/klar/releases/download/v2.4.0/klar-2.4.0-linux-amd64 && chmod +x klar
- docker run -d --name db arminc/clair-db
- docker run -p 6060:6060 --link db:postgres -d --name clair arminc/clair-local-scan
- CLAIR_ADDR=localhost ./klar malikashish8/dubu
